<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.drone_controller.Android">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
    <application android:label="drone_controller.Android"></application>
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-feature android:name="android.hardware.bluetooth_le" />
</manifest>
